
{% for tenantUser in tenantUsers %}
    <li {% if tenant == tenantUser.tenant %}class="active" {% endif %}>
        <a href="{{ path('switch_tenant', {subdomain: tenantUser.tenant.subdomain}) }}">{{ tenantUser.tenant.name }}</a>
    </li>
{% endfor %}
<li>
    <a href="#">Add new organization</a>
</li>
