{% extends '::base_unauthorized.html.twig' %}

{% block content -%}

    <ul class="nav">
        {% for tenantUser in tenantUsers %}
            <li>
                <a href="{{ path('switch_tenant', {subdomain: tenantUser.tenant.subdomain, path: '/dashboard'}) }}" class="">{{ tenantUser.tenant.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}